//Partials
@import "colours";
@import "global";
@import "mediasqueries";
@import "galeria";


@mixin media-querie($breackpoint){
    @media (max-width: map-get($breackpoints, $breackpoint)){
        @content;
    }
}
    /* Seccion Home */
    .home-grid{
        display: grid;
        grid-template-areas:
        "header"
        "navbar"
        "carousel"
        "slider"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 155px auto 1fr auto;
    }
    /* Encabezado Web */
    header{
        grid-area: header;
        text-align: center;
        background-color: $primarycolor;
        h1{
            background-color: $thirdcolor;
            color: white;
            margin: 0;
            padding: 10px;
            font-size: 2rem;
        }
    }
    /* Estilos del menu con Media Querie Responsive */
    nav{
        grid-area: navbar;
        ul{
            list-style: none;
            text-align: center;
            @include media-querie(sm){
                display: none;
            }
            li{
                display: inline-block;
                padding: 20px;
                transition: all ease-in-out 250ms;
                @include media-querie(sm){
                    width: 100%;
                    padding: 16px;
                    text-align: left;
                }
                &:hover{
                    background-color: $secondcolor;
                }
                a{
                    text-decoration: none;
                    color: $thirdcolor;
                    
                }
            }
        }
    }
    .hide{
        font-size: 22px;
        padding: 16px;
        cursor: pointer;
        display: none;
        @include media-querie(sm){
            display: block;
        }
    }
    /* Fin de estilos Menu */
    /* Banner Sustentable */
    .banner{
        grid-area: slider;
        margin-top: 0px;
        width: 100%;
        height: auto;
    }
    /* Configuracion Pie de Pagina */
    footer{
        grid-area: footer;
        background-color: $thirdcolor;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100px;
        margin-bottom:0;
    }
    .iconSocialMedia{
        width: 40px;
        height: 40px;
    }
    /* Fin configuracion Pie de Pagina */
    /* Seccion Empresa */
    .empresa-grid{
        display: grid;
        grid-template-areas:
        "header"
        "navbar"
        "about"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 155px auto 1fr auto;
    }
    .empresa{
        grid-area: about;
    }
    /* Titulos de todas las secciones */
    h2{
        color: $thirdcolor;
        text-align: center;
        margin-top: 5px;
        padding: 5px;
        background-color: $secondcolor;
    }
    /* Seccion Servicios */
    .servicios-grid{
        display: grid;
        grid-template-areas:
        "header"
        "navbar"
        "servicios"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 155px auto 1fr auto;
    }
    .servicios{
        grid-area: servicios;
    }
    /* Seccion contacto */
    .contacto-grid{
        display: grid;
        grid-template-areas:
        "header"
        "navbar"
        "contacto"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 155px auto 1fr auto;
    }
    .btn{
        background-color: $thirdcolor;
        color: white;
        &:hover{
            color: $thirdcolor;
            background-color: $secondcolor;
        }
    }
